<div class="vishal">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Society Details</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-sm-12 col-md-6">

          </div>
          <div class="col-sm-12 col-md-6">
            <div id="example1_filter" class="dataTables_filter">
              <button routerLink='/societyform/0' class="btn btn-primary" style="margin-left: 330px;"><i
                  class="fas fa-plus-square"></i> ADD SOCIETY</button></div>
          </div>
        </div>&nbsp;
        <div class="row">
          <div class="col-sm-12">
            <table id="example1" class="table table-hover" role="grid" aria-describedby="example1_info">
              <thead>
                <tr role="row">
                  <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                    aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"
                    style="width: 170px;">Society Name</th>
                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                    aria-label="Browser: activate to sort column ascending" style="width: 219px;">Society Address</th>
                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                    aria-label="Platform(s): activate to sort column ascending" style="width: 194px;">President Name
                  </th>
                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                    aria-label="Engine version: activate to sort column ascending" style="width: 143px;">Mobile Number
                  </th>
                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                    aria-label="CSS grade: activate to sort column ascending" style="width: 30px;">Delete</th>
                  <th style="width: 30px;">Update</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let society of societies" role="row">
                  <td>{{ society.s_name }}</td>
                  <td>{{ society.s_address }}</td>
                  <td>{{ society.p_name }}</td>
                  <td>{{ society.m_number}}</td>
                  <td><a class="btn text-danger" (click)="onDelete(society.id)"><i class="fa fa-trash"></i></a></td>
                  <td><a class="btn text-danger" [routerLink]="'/societyform/'+society.id"><i
                        class="fas fa-edit"></i></a></td>

                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th rowspan="1" colspan="1">Society Name</th>
                  <th rowspan="1" colspan="1">Society Address</th>
                  <th rowspan="1" colspan="1">President Name</th>
                  <th rowspan="1" colspan="1">Mobile Number</th>
                  <th rowspan="1" colspan="1">Delete</th>
                  <th>Update</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5">
          </div>
          <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
  </div>
</div>