<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="../../index3.html" class="brand-link" routerLink="/dashboard">
    <img src="../../dist/img/AdminLTELogo.png"
         alt=""
         class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">E-PARTMENT</span>
  </a>

     
    <!-- Sidebar Menu -->
    <nav class="mt-2">
     
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link" routerLink="/society" > 
            <i class="fas fa-building"></i>
            &nbsp;&nbsp;<p> 
              Society
            </p>
          </a>
        </li>
      </ul>
        </nav>
        
    